@import '@fontsource/montserrat/latin-ext-300.css';
@import '@fontsource/montserrat/latin-ext-400.css';
@import '@fontsource/montserrat/latin-ext-500.css';
@import '@fontsource/montserrat/latin-ext-600.css';
@import '@fontsource/montserrat/latin-ext-700.css';
@import '@fontsource/lato/latin-ext-300.css';
@import '@fontsource/lato/latin-ext-400.css';
@import '@fontsource/lato/latin-ext-700.css';
@import '@fontsource/open-sans/latin-ext-300.css';
@import '@fontsource/open-sans/latin-ext-400.css';
@import '@fontsource/open-sans/latin-ext-600.css';

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Lato', ui-sans-serif, system-ui, sans-serif;
    --font-heading: 'Montserrat', ui-sans-serif, system-ui, sans-serif;
    --font-alt: 'Open Sans', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading);
    }
}
